## Task 1.1

In [1]:
import numpy as np

In [3]:
a = np.array([[1, 6], [2, 8], [3, 11], [3, 10], [1, 7]])

In [11]:
mean_a = np.mean(a, axis=0)

In [12]:
mean_a

array([2. , 8.4])

## Task 1.2

In [13]:
a_centered = a - mean_a

In [14]:
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

## Task 1.3

In [36]:
a_centered_sp = np.dot(a_centered[::, 0:1:].flatten(), a_centered[::, 1::].flatten())

In [38]:
a_centered_sp / 4 # я так понимаю наблюдений у нас 5 => 5 - 1 = 4

2.0

## Task 1.4

In [40]:
a_trans = np.transpose(a, axes=None)

In [43]:
np.cov(a_trans)[0, 1]

2.0

## Task 2.1

In [1]:
import pandas as pd

In [2]:
authors = pd.DataFrame({'author_id': [1, 2, 3], 'author_name': ['Тургенев', 'Чехов', 'Островский']})

In [4]:
book = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3], 
                     'book_title ': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                     'price': [450, 300, 350, 500, 450, 370, 290]})

## Task 2.2

In [6]:
authors_price = pd.merge(authors, book, on='author_id', how='outer')

In [7]:
authors_price

   author_id author_name           book_title   price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

## Task 2.3

In [12]:
top5 = authors_price.sort_values(by=['price'], ascending=False)[:5]

In [13]:
top5

   author_id author_name        book_title   price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

## Task 2.4

In [75]:
df0 = list(pd.DataFrame(authors_price.groupby('author_name')['author_name'])[0])
df1 = pd.DataFrame(authors_price.groupby('author_name').min()['price'])
df2 = pd.DataFrame(authors_price.groupby('author_name').max()['price'])
df3 = pd.DataFrame(authors_price.groupby('author_name').mean()['price'])

In [76]:
authors_stat = pd.DataFrame({'author_name': df0,
                             'min_price': list(df1['price']),
                             'max_price': list(df2['price']),
                             'mean_price': list(df3['price'])})

In [78]:
authors_stat

  author_name  min_price  max_price  mean_price
0  Островский        290        370  330.000000
1    Тургенев        300        450  366.666667
2       Чехов        450        500  475.000000